#start {
    
    padding: 25px;
    margin-top: 10px;
    line-height: 3em;
    text-align: center;
}

#nuMeme {
    width: 100%;
}

.searchbar {
    width: 180px;
    text-align: left;
    float: left;
}

.textArea {
    width: 80%;
}
.submit {
    text-align: right;
}

body {
    background-color: rgba(3, 168, 173, 0.637);
}

.top {
    position: relative;
    /* top: 5px; */
}

.bottom {
    position: relative;
    top: 80px;
}

.hover {
    opacity: 0.5;
}
.newMeme {
    width: 30%;
    margin: 10px;
    height: 200px;
    border: 2px solid gray;
    background: center;
    background-size: cover;
    text-align: center;
    float: left;
    color: white;
    font-size: 3rem;